.idea

# Cache, session files and logs (Symfony3)
/app/var/cache/*
/app/var/logs/*
/app/var/sessions/*
!app/var/cache/.gitkeep
!app/var/logs/.gitkeep
!app/var/sessions/.gitkeep

# Logs (Symfony4)
/app/var/log/*
!app/var/log/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/var/bootstrap.php.cache
/app/bin/*
!app/bin/console
!app/bin/symfony_requirements
/app/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/app/build/
